PORT
FRONTEND_URL

DATABASE_URL
REDIS_HOST
REDIS_PORT

GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL
SESSION_SECRET

SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD

WORKER_CONCURRENCY
WORKER_COUNT

MIN_EMAIL_DELAY
MAX_EMAILS_PER_HOUR